
wwdc_student_portfolio.xcodeproj/xcuserdata/nurmerey.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

wwdc_student_portfolio.xcodeproj/project.xcworkspace/xcuserdata/nurmerey.xcuserdatad/UserInterfaceState.xcuserstate

wwdc_student_portfolio.xcodeproj/project.xcworkspace/xcuserdata/nurmerey.xcuserdatad/UserInterfaceState.xcuserstate
